mat-icon{
    cursor: pointer;
}

.nav {
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.side-nav{
    height: 100%;
    width: 200px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.channel {
    margin-bottom: 8px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}
