.chat{
    // position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.write-container{
    width: 80%;
    background-color: grey;
    // position: absolute;
    bottom: 0px;
}

.message-container{
    height: 100%;
    background-color: aquamarine;
}