.chat{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.write-container{
    width: 80%;
    width: 100%;
    background-color: grey;
    bottom: 0px;
    display: flex;
    align-items: center;
}

.message-container{
    height: 100%;
    background-color: aquamarine;
}

.input-message {
    width: 90%;
    height: 150px;
    resize: none;
}